<template name="layout">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{pathFor 'postsList'}}">Microscope</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">

                    {{#if currentUser}}
                        <li><a href="{{pathFor 'postSubmit'}}">New Post</a></li>
                        <li class="dropdown">{{> notifications}}</li>
                    {{/if}}

                    <li><a>{{> loginButtons align="right"}}</a></li>
                </ul>
            </div>

            {{> errors}}

        </div>
    </nav>
    <div id="main" class="row-fluid">
        {{> yield}}
    </div>
</template>
